.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    color: #BDA07F;
}

.hero {
    background-size: cover;
    height: 80vw;
    background-image: url(img/splash_nature.png);
}

.container img {
    width: 30vw;

}

#splash div {}

.container h1 {
    /*    margin-left: 5%;
    */
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    /*    margin-right: 20%;*/
}

#about {
    background-color: #F7F6F2;
}

#about h2,
p {
    margin-left: 8%;
    margin-right: 8%;
}

#about h2 {
    margin-bottom: 2%;
    font-size: 1.7rem;
    font-family: 'Euphemia UCAS';
    word-spacing: -0.5vw;
    color: #BDA07F;
}

#about p {
    margin-bottom: 5%;
    font-family: 'Raleway', sans-serif;
    color: #605344;
}

#about img {
    width: 100%;
}
