.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    color: #BDA07F;
}

.hero {
    background-size: cover;
    height: 80vw;
    background-image: url(img/splash_nature.png);
}

.container img {
    width: 30vw;

}

h2 {
    font-size: 1.7rem;
    font-family: 'Euphemia UCAS';
    word-spacing: -0.5vw;
    color: #BDA07F;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    font-family: 'Euphemia UCAS';
    word-spacing: -0.5vw;
    color: #BDA07F;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #605344;
}

#splash div {}

.container h1 {
    /*    margin-left: 5%;
    */
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    /*    margin-right: 20%;*/
}

#about {
    background-color: #F7F6F2;
}

#about h2,
p {
    margin-left: 8%;
    margin-right: 8%;
}

#about h2 {
    margin-bottom: 2%;
    font-size: 1.7rem;
    font-family: 'Euphemia UCAS';
    word-spacing: -0.5vw;
    color: #BDA07F;
}

#about p {
    margin-bottom: 5%;
    font-family: 'Raleway', sans-serif;
    color: #605344;
}

#about img {
    width: 100%;
}

#commodity {
    background-color: #EEEADD;
}

/*

.book {
    display: flex;
    flex-direction: column-reverse;


}
*/

.text {
    margin-left: 8%;
    margin-right: 8%;
    padding: 0;
}


#commodity img {
    width: 100%;
}

#web {
    display: none;
}

#explore img {
    width: 100%
}

#explore {
    background-color: #F7F6F2;
}

#products {
    background-color: #EEEADD;
}

.chips_bags {
    margin-left: 8%;
    margin-right: 8%;
}



.chips_bags {
    display: flex;
    flex-direction: row;
}

.bag {
    width: 30vw;
}
