#splash {
    background-image: url(img/splash_nature.png);
    background-size: cover;
    height: 100vh;
}

#splash div {}

.slogan h1 {
    /*    margin-left: 5%;
    */
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    /*    margin-right: 20%;*/
    margin-top: 60%;
    color: white;
    margin-left: -19%;
    font-size: 3rem;
}

.bag img {
    width: 30vw;
    margin-left: 15%;
    margin-top: 20%
}
